* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #000;
  overflow: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
}

#webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  z-index: 2;
  position: relative;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -90%);
  font-size: 3rem;
}

.social {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  padding-bottom: 2rem;
}

div ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 4rem;
}

div ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.sl-img {
  width: 20px;
  height: 20px;
  color: #fff;
  margin-right: 0.4rem;
  position: absolute;
  left: 50%;
  bottom: 61%;
}

.sl-img--left {
  left: -15%;
}

/**********************************/
/* BELOW 1344px (Smaller desktops) */
/*********************************/
@media (max-width: 84rem) {
}

/**********************************/
/* BELOW 1200px (Landscape Tablets) */
@media (max-width: 75em) {
}
/*********************************/
/**********************************/
/* BELOW 944px (Portrait Tablets) */
/*********************************/
@media (max-width: 59em) {
}
